.default-style{
    background-color: #291561;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    align-content: center;
    margin: 10px auto;
}

.hilight{
    background-color: coral;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
}

.add-btn{
    background-color: cornflowerblue;
}
.remove-btn{
    background-color: crimson;
}

.toggle-btn{
    background-color: darkcyan;
}