span {
    color: red;
    font-weight: bold;
}

#photo-list {
    padding-left: 0;
    width: 800px;
    list-style-type: none;
}

#photo-list li {
    display: inline-block;
    margin: 1em;
    padding: 0.5em;
    border-radius: 4px;
}

#photo-list li:hover {
    background-color: silver;
}

#photo-list li.selected {
    background-color: limegreen;
}